/* Import Google Fonts for Rubik */
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700&display=swap");

/* Define custom font face for Blanka */
@font-face {
	font-family: "Blanka";
	src: url("../fonts/BlankaRegular.ttf") format("truetype");
}

/* Disable text selection and user-dragging for the entire page */
* {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-user-drag: none;
	cursor: none;
}

/* Loader animation styles */
.loader {
	width: 72px;
	height: 72px;
	border-radius: 50%;
	position: fixed;
	visibility: visible;
	left: 50%;
	top: 50%;
	background: radial-gradient(farthest-side, #6e32c3 94%, #0000) top/11.5px
			11.5px no-repeat,
		conic-gradient(#0000 30%, #6e32c3);
	-webkit-mask: radial-gradient(
		farthest-side,
		#0000 calc(100% - 11.5px),
		#000 0
	);
	animation: loader 1s infinite linear;
}

/* Keyframes for loader animation */
@keyframes loader {
	100% {
		transform: rotate(1turn);
	}
}

/* Styling for the body */
body {
	background-color: #1f2122;
	visibility: hidden;
	margin: 0;
	overflow: visible;
}

/* Style for the main cursor */
.cursor {
	width: 12px;
	height: 12px;
	background: #666666;
	border-radius: 50%;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	transition: transform 0.2s, opacity 0.15s;
	pointer-events: none;
	z-index: 100;
}

.cursor-outer {
	width: 50px;
	height: 50px;
	border: 2px solid #666666;
	border-radius: 50%;
	position: fixed;
	transition: transform 0.2s, opacity 0.15s;
	pointer-events: none;
	z-index: 100;
}

.cursor.hidden,
.cursor-outer.hidden {
	opacity: 0; /* Hide the cursor with opacity */
}

/* Navigation bar styles */
.navigation {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px;
	top: 0;
	background-color: #1f212200;
}

/* Logo styles with hover animation */
.logo {
	width: 50px;
	height: 50px;
}

.logo:hover {
	animation: breathe 2s ease-in-out infinite;
}

/* Keyframes for logo breathe animation */
@keyframes breathe {
	0% {
		transform: scale(1, 1);
	}
	50% {
		transform: scale(1.2, 1.2);
	}
	100% {
		transform: scale(1, 1);
	}
}

/* Navigation bar links styles */
.navigation-bar {
	display: flex;
	align-items: center;
}

.navigation-bar-link {
	font-family: "Rubik";
	margin-right: 20px;
	text-transform: uppercase;
	font-weight: bold;
	color: #666666;
	transition: 0.3s;
}

/* Navigation bar link hover effect */
.navigation-bar-link:hover {
	color: #6e32c3;
	text-shadow: 0 0 5px #6e32c3;
}

/* Navigation bar button styles */
.navigation-bar-button {
	padding: 8px 16px;
	border-radius: 4px;
	font-family: "Rubik";
	background-color: #27292a;
	border: 1px solid #27292a;
	border-radius: 20px;
	color: #666666;
	font-weight: bold;
	transition: 0.3s;
}

/* Navigation bar button hover effect */
.navigation-bar-button:hover {
	color: #f0f0ff;
	box-shadow: 0px 0px 10px 5px #6e32c3;
	border: 1px solid #6e32c3;
	background-color: #6e32c3;
}

/* Hero section styles */
.hero {
	font-family: "Rubik", sans-serif;
	--heading-color: #b9b9b9;
	--subheading-color: #666;
	display: flex;
	flex-direction: column;
	align-items: center;
}

/* Heading styles */
.hero #heading {
	font-weight: 500;
	height: 150px;
	font-size: 3rem;
	line-height: 1.2;
	color: var(--heading-color);
	text-align: center;
	margin-bottom: 30px;
}

/* Heading container styles */
.hero .heading {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding-top: 80px;
	color: var(--heading-color);
	margin-bottom: 60px;
}

/* Titles styles with gradient text */
.hero #titles {
	font-weight: 500;
	font-size: 3rem;
	line-height: 1.2;
	background-image: linear-gradient(135deg, #6e32c3, #329ac3);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	text-align: center;
	margin-bottom: 30px;
}

/* Sub-heading styles */
.hero .sub-heading {
	font-weight: 300;
	font-size: 1.4rem;
	line-height: 1.5;
	text-align: center;
	color: var(--subheading-color);
}

/* Sub-heading links styles */
.hero .sub-heading b {
	font-family: "Rubik";
	color: #666666;
	transition: 0.3s;
}

/* Sub-heading link hover effect */
.hero .sub-heading b:hover {
	color: #6e32c3;
	text-shadow: 0 0 5px #6e32c3;
}

/* Hero button styles with hover effect */
.hero-button {
	width: 130px;
	height: 40px;
	padding: 8px 16px;
	border-radius: 20px;
	font-family: "Rubik";
	background-color: #27292a;
	border: 1px solid #27292a;
	color: #666666;
	font-weight: bold;
	margin-top: 30px;
	transition: 0.3s ease;
}

.hero-button:hover {
	width: 180px;
	height: 40px;
	padding: 8px 16px;
	border-radius: 20px;
	font-family: "Rubik";
	background: linear-gradient(45deg, #6e32c3, #329ac3);
	border: 1px solid #27292a;
	color: #cccccc;
	font-weight: bold;
	margin-top: 30px;
	transition: 0.3s ease;
}

/* Timeline section styles */
.timeline-section {
	display: flex;
	align-items: flex-start;
	padding: 20px;
	margin-top: 20px;
}

/* Timeline styles */
.timeline {
	flex: 1;
}

/* Profile section styles */
.profile-section {
	flex-basis: 300px;
	border-radius: 8px;
	margin: 20px;
	margin-top: 30px;
	background-color: #2a2c2e;
	position: sticky;
	top: 20px;
	display: flex;
	flex-direction: column;
	height: 70vh;
}

/* Profile picture styles */
.profile-picture {
	/* text-align: center; */
	padding-left: 10px;
	padding-top: 60px;
}

.profile-picture img {
	max-width: 30%;
	border-radius: 50%;
	border: 8px solid #2a2c2e;
}  

.profile-banner img {
	max-width: 100%;
	position: absolute;
	border-radius: 8px 8px 0 0;
	z-index: -1;
	top: 0;
	left: 0;
}

/* Status indicator styles */
.status-indicator {
	position: absolute;
	top: 135px;
	right: 200px;
	width: 20px;
	height: 20px;
	border-radius: 50%;
}

/* Status indicator animation */
.status-indicator::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border-radius: inherit;
	animation: pulse 2s infinite;
	opacity: 0.5;
}

/* Status indicator color classes */
.status-indicator.online,
.status-indicator.online::before {
	background-color: #43b581;
}

.status-indicator.idle,
.status-indicator.idle::before {
	background-color: #f0b232;
}

.status-indicator.dnd,
.status-indicator.dnd::before {
	background-color: #f23f43;
}

.status-indicator.offline,
.status-indicator.offline::before {
	background-color: #747f8d;
}

/* Keyframes for pulse animation */
@keyframes pulse {
	0% {
		transform: scale(1);
		opacity: 1;
	}

	100% {
		transform: scale(1.5);
		opacity: 0;
	}
}

/* Username styles */
.username h2, h3 {
	font-family: "Rubik";
	text-transform: uppercase;
	font-weight: bold;
	color: #666666;
	margin: 0;
	padding: 2.5px 0;
}

.username h2 {
	position: absolute;
	top: 115px;
	left: 115px;
}

.username h3 {
	font-size: 15px;
	text-align: center;
	font-weight: bold;
}

.spotify {
	text-align: center;
	padding-bottom: 20px;
}

/* Timeline item styles */
.timeline-item {
	margin-bottom: 40px;
}

/* Timeline date styles */
.timeline-date {
	font-weight: bold;
	color: #6e32c3;
	font-family: "Rubik";
	font-size: large;
	margin-bottom: 10px;
}

/* Timeline content styles */
.timeline-content {
	background-color: #2a2c2e;
	color: #666666;
	font-family: "Rubik";
	padding: 20px;
	border-radius: 8px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Timeline content heading styles */
.timeline-content h3 {
	font-size: 1.2rem;
	margin-top: 0;
}

/* Timeline content paragraph styles */
.timeline-content p {
	margin: 8px 0;
}

/* Individual skill icon styles */
.skill-icon {
	position: relative;
	width: 100%;
	max-width: 100px; /* Adjust the maximum width as needed */
}

/* Tooltips */
.tooltip {
	position: absolute;
	bottom: 100%;
	left: 50%;
	transform: translateX(-50%);
	background-color: rgba(0, 0, 0, 0.8);
	color: #fff;
	padding: 5px 10px;
	border-radius: 4px;
	opacity: 0;
	pointer-events: none;
	transition: opacity 0.3s ease;
}

/* Show tooltips on hover */
.skill-icon:hover .tooltip {
	opacity: 1;
}
